# Dog Aggression Detection - Dependencies
#esp ip :1'
 #venv_gpu\Scripts\Activate
#firmware\esp32_cam_ultrasonic\esp32_cam_ultrasonic.ino
# Core ML
torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0

# Data & Augmentation
albumentations>=1.3.0
opencv-python>=4.8.0

# Config
pyyaml>=6.0

# Evaluation
scikit-learn>=1.3.0
numpy>=1.24.0

# Utilities
matplotlib>=3.7.0
pandas>=2.0.0
tqdm>=4.65.0

# GUI Application
Pillow>=10.0.0
